.tips {
    width: 244px;
    height: 30px;
    flex-grow: 0;
    margin: 0 46px 32px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #6c933e;
    padding-left: 10px;
}

.sport-store {
    width: 290px;
    height: 30px;
    display: inline-block;
    margin: 0px 0 0px;
    font-family: RobotoSlab;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: black;
    padding-left: 10px;
}

.sport-doc {
    width: 290px;
    display: block;
    margin: 0px 0 42px;
    padding: 10px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: -0.33;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.go {
    width: 103px;
    height: 44px;
    color: #6c933e;
    padding: 12px;
    font-size: 20px;
    border: solid 2px #6c933e;
    border-radius: 22.5px;
    display: block;
}

.preparated {
        width: 297px;
        height: 22.1px;
        flex-grow: 0;
        margin: 0 0 37.8px 3px;
        font-family: RobotoSlab;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: center;
        color: var(--brownish-grey);
      }
