.tips {
    flex-grow: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #6c933e;
    display: block;
}

.sport-store {
    display: inline-block;
    font-family: Roboto Slab;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: black;
    display: block;
}

.sport-doc {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: -0.33;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    display: block;
}

.buy-now {
    width: 160px;
    height: 45px;
    flex-grow: 0;
    margin: 50px 0 10px;
    border-radius: 22.5px;
    color: #6c933e;
    padding: 9px;
    font-size: 20px;
    border: solid 2px #6c933e;
    display: block;
    background-color: white;
}

.preparated {
    text-align: center;
    flex-grow: 0;
    padding: 20px;
    background-color: #d9e4cc;
    display: grid;
    grid-template-columns: 1fr;
      }
.favorites {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #626262;
}

.back-to-school {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: black;
}

.children-photo {
    width: 125px;
    height: 125px;
    flex-grow: 0;
    object-fit: contain;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.bags {
  font-family: RobotoSlab;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.14;
  color: black;
  padding-top: 0;
  display: block;
}

.case {
  font-family: RobotoSlab;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.14;
  color: black;
  padding-top: 0;
  display: block;
}

.sport-bag {
    font-family: RobotoSlab;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.14;
    color: black;
    padding-top: 0;
    display: block;
}

.start-now {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: center;
    color: white;
    width: 184px;
    height: 47.3px;
    margin: 0 0 10.5px;
    border-radius: 22.5px;
    background-color: #6c933e;
    border: none;
    
}
.start-now:hover {
    transform: scale(0.85); 
}

.buy-now:hover {
    transform: scale(1.25); 
}

.center {
    text-align: center;
    
}

.content {
    padding: 15px;
}

.element.style {
    grid-column-start: 1;
}

@media all and (min-width: 768px) {
    .sport-doc {
        font-size: 23px;
        font-weight: 200;
    }
    .sport-store {
    font-size: 34px;
    font-weight: 500;
    }
    .tips {
        font-size: 17px;
    }
    .preparated {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item0 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .center {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
@media all and (min-width: 1024px) {
    .content {
        padding: 20px 150px;
    }
    .sport-doc {
        font-size: 23px;
        font-weight: 200;
    }
    .sport-store {
    font-size: 34px;
    font-weight: 500;
    }
    .tips {
        font-size: 17px;
    }
    .preparated {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item0 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .center {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}