.header {
  display: block;
  background-image: url(/images/cover.jpeg);
  background-position-x: -285px;
  background-size: cover;
}

.menu {
  background-color: #6c933e;
  width: 36.4px;
  height: 36.8px;
  padding: 10px;
}

.futbol-children {
flex-direction: row;
}

.title__first {
  margin: 260.2px 0 51.8px;
  font-family: Roboto Slab;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.title__second {
  width: 243.3px;
  height: 16px;
  flex-grow: 0;
  margin: 51.8px 38.1px 34px 34.2px;
  transform: rotate(-0.23deg);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
