<aside> 
    <div class="content"><span class="tips">
    HISTORIAS, MODA Y ROPA DEPORTIVA
  </span>
  <span class="sport-store">
    TU TIENDA DE DEPORTE
  </span>
  <span class="sport-doc">
    El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.
  </span>
  <button class="buy-now">Comprar</button>
</div>
<div class="element.style">
<div class="preparated">
    <div class="item0">
    <span class="favorites" >¡Prepáralos con tus marcas favoritas!</span>
    <h1 class="back-to-school">VUELTA AL COLE</h1>
</div>
    <div class="item1"><img class="children-photo" src="/images/lpbts-mod05-img01-desk.png" alt="niña con mochila">
        <span class="bags">Mochilas escolares</span></div>
    
    <div class="item2"><img class="children-photo" src="/images/lpbts-mod05-img04-mob.png" alt="niño con colores">
        <span class="case">Estuches</span>
    </div>
    
    <div class="item3"><img class="children-photo" src="/images/lpbts-mod05-img03-mob.png" alt="niña con mochila de deporte">
        <span class="sport-bag">Bolsas de deporte</span>
    </div>
</div>
    <div class="center"><button class="start-now">Empezar ahora</button></div>
</div>
</aside>
