<footer id="footer" class="page__footer">
  <div class="green-arrow">
  <a href="#hero"><img src="/images/ico-arrow.svg"></a>
  </div>
  <div class="three-sections">
  <div class="elements-1">
    <p><a class="option" href="https://adalab.es/">ZAPATILLAS</a></p>
    <p><a class="option" href="https://adalab.es/">ROPA</a></p>
    <p><a class="option" href="https://adalab.es/">NIÑO/A</a></p>
    <p><a class="option" href="https://adalab.es/">DESTACADOS</a></p>
    <p><a class="option" href="https://adalab.es/">TIPS</a></p>
  </div>
  <div class="elements-2">
    <p><a class="option" href="https://adalab.es/">TWITTER</a></p>
    <p><a class="option" href="https://adalab.es/">INSTAGRAM</a></p>
    <p><a class="option" href="https://adalab.es/">YOUTUBE</a></p>
  </div>
  <div class="elements-3">
  <p class="copyright">©2023</p>
  <p class="we-love-run">we <span class="heart"> ❤︎</span> run</p>
  </div>
</div>
</footer>
