<footer id="footer" class="page__footer">
  <div class="green-arrow">
  <a href="#hero"><img src="/images/ico-arrow.svg"></a>
  </div>
  <div class="finish-footer">
  <ul class="elements-1">
    <li><a class="option" href="https://adalab.es/">ZAPATILLAS</a></li>
    <li><a class="option" href="https://adalab.es/">ROPA</a></li>
    <li><a class="option" href="https://adalab.es/">NIÑO/A</a></li>
    <li><a class="option" href="https://adalab.es/">DESTACADOS</a></li>
    <li><a class="option" href="https://adalab.es/">TIPS</a></li>
  </ul>
  <ul class="elements-2">
    <li><a class="option" href="https://adalab.es/">TWITTER</a></li>
    <li><a class="option" href="https://adalab.es/">INSTAGRAM</a></li>
    <li><a class="option" href="https://adalab.es/">YOUTUBE</a></li>
  </ul>
  <p class="copyright">©2023</p>
  <p class="we-love-run">we <span class="heart"> ❤︎</span> run</p>
</div>
</footer>
